*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
body {
    font-family: 'Helvetica', sans-serif;
    background-color: #FFFFFF;

}

a {
    text-decoration: none;
}
li {
    list-style: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #FFFFFF;
    height: 1.5em;
}


.nav-links a {
    color: #222222;
    text-transform: uppercase;
}

.navbar .logo {
    height: 3em;
    padding-top: 0;
}

.name {
    padding-left: 0.5em;
}

.name h1 {
    text-transform: uppercase;
    font-size: 1.5em;
}

.logo img{
    height: 100%;
    width: auto;
}

.menu {
    display: flex;
    gap: item;
    font-size: 18px
}

.menu li:hover{
    background-color: #BBCDE5;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li a:hover{
    color: #1c5d99;
    font-weight: bold;
    
}
.menu li {
    padding: 5px 14px;
}

input[type=checkbox]{
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

#intro h1{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #1c5d99;
    font-size: 5em;
    font-family: "Lucida Handwriting", cursive;

}

#intro h3 {
    color:#222222;
    font-size: 2.5em;
}

#intro h3 em{
    color: #639FAB;
    font-weight: bold;
    text-transform: uppercase;
}

#intro {
    margin-left: 25px;
    padding-top: 15px;
}

.about {
    margin-left: 25px;
    margin-top: 15px;
}

.about p{
    font-size: 1.3em;
    color: #222222;
}

.about a{
    text-decoration: none;
    color: #639FAB;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: #226F54;
        top: 3em;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }
    .menu li:hover {
        display: inline-block;
        background-color: #87c38f;
        transition: 0.3s ease;
    }
    .menu li a:hover{
        color: #43291f;
        font-weight: bold;
    }
    .menu li + li {
        margin-top: 12px;
    }
    input[type=checkbox]:checked ~ .menu {
        display: block;
    }
    .hamburger {
        display: block;
    }
}