.container.contact__container {
    display: grid;
    grid-auto-rows: 100px;
    gap: 12%;
    padding-bottom: 10rem;
    justify-self: center;
}

.contact__options > a {
    color: var(--color-bg-variant);
    font-weight: 600;
    text-transform: uppercase;
}

.contact__options > a:hover {
    color: var(--color-bg-variant);
    font-weight: 600;
    text-transform: uppercase;
}

.contact__options {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
}

.contact__option {
    background: var(--color-white);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    width: 18rem;
}

.contact__option:hover {
    background: transparent;
    border-color: var(--color-primary);
}


.contact__option-icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact__option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

/* ============== MEDIA QUERIES (MEDIUM DEVICES) ============== */
@media screen and (max-width: 1024px){
    .contact__options {
        flex-direction: column;
        justify-self: center;
    }
    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
        padding-bottom: 5rem;
    }
 }
 
 
 
 
 /* ============== MEDIA QUERIES (SMALL DEVICES) =============== */
 @media screen and (max-width: 600px){

    .contact__options {
        flex-direction: column;
        justify-self: center;
        
    }
    .container.contact__container {
        width: var(--container-width-sm);
        padding-bottom: 2.5rem;
        
    }
    
 }